.contenedor-padre{
    display: flex;
    /* height: 100%; */
}

.contenedor-tabla{
    width: 50%;
    overflow-y: auto;
    height: 90.35vh;/*Organizar este estilo, lo que se busca es que ovupe el resto del height no ocupado por la barra de navegación*/
}

.contenedor-formulario{ 
    width: 50%;
    height: 90.35vh;/*Organizar este estilo, lo que se busca es que ovupe el resto del height no ocupado por la barra de navegación, revisar esta misma propiedad en componentsFormulario.css*/
}
